<p id="notice"><%= notice %></p>

<h1>Autocomplete</h1>

<div>
  <%= react_component("Message", { text: "Input any word:" }) %>
  <%= react_component("ServerAutosuggest", { greeting: "Hello from react-rails2." }) %>
</div>
