<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Birth Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% created_users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.birth_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
